body {
  background: url(ozadje.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

table, th{
  border-collapse: collapse;
}

/*tr:nth-child(3), tr:nth-child(6) {
  border-bottom: 1.5px solid black;
}

td:nth-child(3),td:nth-child(6) {
  border-right: 1.5px solid black;
}*/

table {
  margin: 8vh auto 0 auto;
  width: 30%;
}

tr {
  padding:0;
}

input {
  height: 3.33vw;
  width: 100%;
  padding:0;
  border: 0;
  font-size: 2.5vw;
  text-align: center;
  background-color: #e6dfda;
}

td {
  border: 0.5px solid black;
  padding: 0;
  background-color: #e6dfda;
  height: 3.33vw;
}

li {
  border-right: 1px solid black;
}

.nav-item:nth-child(5){
  border-right: 0;
}


tr:nth-child(3), tr:nth-child(6) {
  border-bottom: 4px solid black;
}

td:nth-child(3),td:nth-child(6) {
  border-right: 4px solid black;
}

.resi {
  text-align: center;
  margin-top: 3%;
}

select {
  width: 10%;
  height: 3vh;
  border-radius: 10%;
}

#zacni {
  display: inline-block;
  width: 4%;
  height: 3vw;
  border: 0.5px solid black;
  border-radius: 20%;
  text-decoration: none;
  font-size: 2vw;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  transition: all 0.3s ease 0s;
}

#zacni:hover{
  background-color: #c7ad9b;
  transition: all 0.3s ease 0s;
}

#navi {
  margin-bottom: 0;
}


@media screen and (orientation: portrait) and (min-width: 600px){
  table {
    margin: 20vh auto 0 auto;
    width: 60%;
  }

  td {
    height: 6.8vw;
  }

  input {
    height: 6.8vw;
    width: 100%;
    font-size: 5.5vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 1px){
  table {
    margin: 10vh auto 0 auto;
    width: 75%;
  }

  td {
    height: 7.77vw;
  }

  input {
    height: 9.44vw;
    width: 100%;
    font-size: 7vw;
  }
}

@media (max-width:991px){
  li{
      border-right: 0;
  }
}
